/* Min Width 1400px */
@media only screen and (min-width:1400px){

    
    .syn-banner {
        padding: 150px 0 270px;
    }

    .banner-content .banner-title{
        font: var(--font-weight-bold) 108px/106px var(--grotesk-font);
    }

    .syn-videos .single-video iframe {
        height: 647px;
    }

}

/* Min Width 1200px */
@media only screen and (min-width:1200px){
}



/* Min Width 1200px and Max Width 1399px */

@media only screen and (min-width:1200px) and (max-width:1399px){

    

}


/* Min Width 992px and Max Width 1199px */

@media only screen and (min-width:992px) and (max-width:1199px){
    
    

}

/* Min Width 992px */
@media only screen and (min-width: 992px) {
    .syn-nav-wpr {
        display: block !important;
    }
}

/* Max Width 1440px */

@media only screen and (max-width:1440px){
   
}

/* Max Width 1199px */

@media only screen and (max-width:1199px){

    .syn-main-nav{
        gap: 28px;
    }
    
    .banner-content .banner-title {
        font: var(--font-weight-bold) 90px/100px var(--grotesk-font);
    }

    .syn-about .about-cards {
        padding: 100px 0;
    }

    .value-cards .single-card {
        padding: 60px 24px 80px;
    }

    .single-card .more-btn {
        right: 24px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .value-cards .single-card.active .more-btn,
    .value-cards .single-card:hover .more-btn {
        bottom: calc(100% - 65px);
    }

    .value-cards .single-card h3{
        max-width: 90%;
    }

    .syn-values .value-cards {
        padding: 50px 0 0;
    }

    .member-cards {
        grid-column-gap: 150px;
    }

    .member-cards .single-card .timeline {
        right: -82px;
    }

    .member-cards .single-card:nth-child(even) .timeline {
        left: -82px;
    }

    .syn-videos .single-video h2 {
        max-width: 90%;
    }

    .syn-videos {
        padding: 100px 0 80px;
    }

}

/* Max Width 1024px */

@media only screen and (max-width:1024px){

}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .syn-header-wpr .container {
        position: relative;
    }

    /* Mobile Nav Starts */

    .syn-nav-wpr{
        position: absolute;
        display: none;
        width: 100%;
        height: max-content;
        top: 128%;
        left: 0;
        background-color: #000;
        border-radius: 4px;
        padding: 24px;
    }

    .syn-main-nav{
        display: block;
    }

    .syn-main-nav .nav-item a{
        color: var(--white-color);
        padding: 10px 0;

    }

    .syn-main-nav .nav-item a:last-of-type{
        border-bottom: 0;
    }

    .sign-btn{
        display: none;
    }

    .nav-toggle i{
        font-size: 30px;
        font-weight: 600;
        vertical-align: middle;
        transition: .5s;
    }

    .syn-header-wpr.sticky .nav-toggle i {
        color: var(--white-color);
    }

    /* Mobile Nav Ends */

    .syn-banner {
        padding: 80px 0 110px;
    }

    .banner-content .banner-title {
        font: var(--font-weight-bold) 70px/80px var(--grotesk-font);
    }

    .syn-about .about-cards {
        padding: 80px 0;
    }

    .syn-about .single-card {
        grid-template-columns: 1fr;
        padding: 50px 0;
    }

    .syn-about .single-card::after {
        width: 100%;
        left: 0;
    }

    .syn-about .single-card h3 {
        max-width: 100%;
        font: var(--font-weight-medium) 48px/55px var(--satoshi-font);
    }

    .syn-about .single-card .v-flw {
        bottom: 30px;
    }

    .syn-values .sec-title {
        max-width: 100%;
        font: var(--font-weight-semi-bold) 45px/55px var(--testgro-font);
    }

    .syn-values .value-cards {
        flex-direction: column;
        padding: 0;
    }

    .value-cards .single-card:last-of-type {
        padding-top: 0;
    }

    .value-cards .single-card:not(:last-of-type)::after {
        content: none;
    }

    .syn-team .sec-title {
        font: var(--font-weight-semi-bold) 50px/55px var(--testgro-font);
    }

    .owl-carousel .owl-item img {
        width: auto;
    }

    .owl-carousel .owl-nav .owl-prev, 
    .owl-carousel .owl-nav .owl-next {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .owl-carousel .owl-nav .owl-prev {
        right: 60px;
    }

    .syn-members .sec-heading {
        flex-direction: row-reverse;
        padding-bottom: 80px;
    }

    .syn-members .sec-heading .line {
        display: none;
    }

    .syn-members .sec-title {
        max-width: max-content;
        font: var(--font-weight-semi-bold) 60px/70px var(--testgro-font);
    }

    .member-cards {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        padding: 0 50px;
    }

    .member-cards::after {
        left: 0;
    }

    .member-cards .single-card{
        margin-top: 0 !important;
        margin-bottom: 80px;
    }

    .member-cards .single-card:last-of-type {
        margin-bottom: 0;
    }

    .member-cards .single-card .timeline {
        right: auto;
        left: -58px !important;
    }

    .member-cards .card-image img {
        width: 100%;
    }

    .syn-videos {
        padding: 80px 0;
    }

    .syn-videos .single-video {
        margin-bottom: 40px;
    }

    .syn-videos .single-video h2 {
        max-width: 100%;
        font: var(--font-weight-semi-bold) 48px/55px var(--testgro-font);
    }

    .banner-title .svg-container svg {
        top: auto;
        bottom: 12px;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .banner-content .banner-title {
        font: var(--font-weight-bold) 54px/60px var(--grotesk-font);
    }

    .syn-about .about-cards {
        padding: 50px 0;
    }

    .syn-about .single-card h3 {
        font: var(--font-weight-medium) 44px/58px var(--satoshi-font);
        letter-spacing: -1px;
    }

    .syn-values .sec-title {
        font: var(--font-weight-semi-bold) 33px/44px var(--testgro-font);
    }
    
    .syn-values .sec-heading .image {
        top: -26px;
    }

    .value-cards .single-card {
        padding: 40px 20px 60px;
    }

    .syn-team .sec-title {
        font: var(--font-weight-semi-bold) 41px/50px var(--testgro-font);
    }

    .syn-members .sec-heading .more-btn {
        display: none;
    }

    .syn-videos .single-video h2 {
        max-width: 100%;
        font: var(--font-weight-semi-bold) 40px/48px var(--testgro-font);
    }

    .banner-title .svg-container svg {
        top: auto;
        bottom: 6px;
    }
}

/* Max Width 575px */
@media only screen and (max-width:575px){

   
    
}

/* Max Width 480px */
@media only screen and (max-width:480px) {

    #toTop {
        bottom: 20px;
        right: 0px;
    }

    .scroll-mt-80{
        scroll-margin-top: 60px;
    }
    
    .scroll-mt-120{
        scroll-margin-top: 100px;
    }

    .syn-header-wpr,
    .syn-header-wpr.sticky {
        padding: 12px 0;
    }

    .nav-toggle i {
        font-size: 26px;
    }

    .syn-banner {
        padding: 50px 0 80px;
    }

    .banner-content .banner-title {
        font: var(--font-weight-bold) 48px/50px var(--grotesk-font);
    }

    .banner-title .v-flw {
        max-width: 24px;
    }

    .syn-about .single-card .v-flw {
        width: 25px;
        bottom: 20px;
        right: 10px;
    }

    .member-cards {
        padding: 0;
    }

    .member-cards::after {
        content: none;
    }

    .nav-toggle {
        text-align: center;
    }

    .member-cards .single-card {
        margin: 0;
        border-bottom: 0;
        padding-bottom: 32px;
    }

    .member-cards .single-card h3 {
        font: var(--font-weight-medium) 22px/33px var(--poppins-font);
        text-align: left;
        margin-top: 24px;
    }

    .member-cards .single-card p {
        font: var(--font-weight-normal) 16px/28px var(--sans-font);
        margin: 16px 0;
    }

    .member-cards .single-card .more-btn {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .syn-videos {
        padding: 80px 0 30px;
    }

    .syn-videos .single-video h2 {
        font: var(--font-weight-semi-bold) 36px/42px var(--testgro-font);
        padding-left: 0;
    }

    .syn-values .sec-heading .image img {
        width: 130px;
    }

    .syn-values .sec-heading .image::before, 
    .syn-values .sec-heading .image::after {
        width: 130px;
        height: 130px;
    }

    .syn-values .sec-heading .image {
        top: 0;
        margin: 36px 0;
    }

    .syn-values .line img {
        position: absolute;
        top: 240px;
        right: 10px;
    }

    .syn-about .sec-title {
        padding: 50px 0 32px;
    }

    .syn-about .single-card p {
        font: var(--font-weight-normal) 16px/28px var(--sans-font);
    }

    .syn-members {
        padding: 80px 0 30px;
    }


    .owl-item.cloned{
        display: none !important;
    }

    .owl-stage{
        transform:none !important;
        transition: none !important;
        width: auto !important;
    }

    .owl-item{
        width: auto !important;
    }

    .owl-carousel .owl-stage {
        flex-direction: column;
    }

    .owl-item:last-of-type {
        display: none;
    }
    
    .team-cards {
        padding: 40px 0 20px;
    }

    .team-cards .single-card {
        border: 0;
        padding: 0;
    }

    .team-cards .card-content p {
        padding: 12px 0 32px;
    }

    .member-cards .more-btn img {
        width: 12px;
    }

    .syn-about .single-card h3 {
        font: var(--font-weight-medium) 40px/54px var(--satoshi-font);
    }

    .syn-team .sec-title {
        max-width: 98%;
        font: var(--font-weight-semi-bold) 30px/34px var(--testgro-font);
    }

    .syn-team .sec-title img {
        width: 40px;
    }


    .value-cards .single-card h3 {
        max-width: 100%;
        font: var(--font-weight-medium) 24px/34px var(--satoshi-font);
        letter-spacing: -1.2px;
    }

    .value-cards .single-card p {
        margin: 8px 0 0;
    }

    .value-cards .single-card {
        padding: 0;
    }

    .value-cards .single-card.active,
    .value-cards .single-card:hover {
        padding: 40px 16px !important;
    }

    .single-card .more-btn {
        width: 36px;
        height: 36px;
        bottom: auto;
        top: 0;
        right: 0;
        line-height: 36px;
    }

    .value-cards .single-card.active .more-btn,
    .value-cards .single-card:hover .more-btn {
        top: 36px;
        right: 16px;
    }

    .syn-videos .single-video h2 {
        font: var(--font-weight-semi-bold) 28px/32px var(--testgro-font);
        padding: 24px 0;
    }

}

/* Max Width 416px */

@media only screen and (max-width:416px){

    .syn-banner {
        padding: 20px 0 50px;
    }

    .banner-content .banner-title {
        font-size: 36px;
        line-height: 36px;
    }

    .banner-title .svg-container svg {
        top: auto;
        bottom: 0;
    }

    .syn-about .single-card {
        grid-gap: 20px;
        padding: 40px 0;
    }

    .syn-about .sec-title {
        font: var(--font-weight-normal) 20px/20px var(--grotesk-font);
        letter-spacing: 4px;
        padding: 48px 0 24px;
    }

    .syn-members {
        padding: 70px 0 30px;
    }

    .syn-members .sec-heading {
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .syn-members .sec-title {
        max-width: max-content;
        font: var(--font-weight-medium) 52px/52px var(--testgro-font);
    }

    .sec-heading .v-flw {
        position: absolute;
        right: 10px;
        bottom: 30px;
        width: 25px;
    }

    .syn-videos {
        padding: 50px 0 26;
    }

    .syn-videos .single-video {
        margin-bottom: 0;
    }

    .syn-values {
        padding: 70px 0;
    }

}

/* Max Width 390px */

@media only screen and (max-width:390px) {

    .syn-values .line img {
        top: 280px;
    }

}

/* Max Width 380px */

@media only screen and (max-width:380px){

    
}

/* Max Width 320px */

@media only screen and (max-width:320px){

   
}