@charset "utf-8";

:root {
    /* Color */
    --text-color: #010101;
    --title-color: #222;
    --primary-color: #0432FF;
    --secondary-color: #010101;
    --white-color: #ffffff;
    --dark-color: #191B1D;
    --body-bg: #ffffff;

    /* Typography */
    --poppins-font: 'Poppins', sans-serif;
    --sans-font: 'General Sans', sans-serif;
    --satoshi-font: 'Satoshi', sans-serif;
    --grotesk-font: 'founders_grotesk';
    --testgro-font: 'test_founders_grotesk_text';
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition: 0.3s;
    --footer-text-color: #b5b5b5;
}

/* -----------------------------------
    01. General CSS
-------------------------------------*/
html,
body {
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--body-font);
    vertical-align: baseline;
    line-height: 32px;
    font-weight: var(--font-weight-normal);
    background: var(--body-bg);
    
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

[type="submit"] {
    cursor: pointer;
}

p {
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 16px;
    line-height: 30px;
    font-weight: var(--font-weight-normal);
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--title-color);
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 0;
}

h1 {
    font-size: 42px;
    line-height: 56px;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 35px;
    line-height: 47.25px;
}

h3 {
    font-size: 30px;
    line-height: 42px;
}

h4 {
    font-size: 25px;
    line-height: 24px;
}

h5 {
    font-size: 22px;
    line-height: 25.2px;
}

h6 {
    font-size: 18px;
    line-height: 26px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);
    outline: none !important;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: var(--secondary-color);
}

.fix {
    overflow: hidden;
}

.no-marg {
    margin: 0;
}

pre {
    display: block;
    margin: 0 0 30px;
    padding: 9px;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 13px;
    line-height: 1.42857143;
}

blockquote {
    padding: 25px 35px;
    background: #f5f5f5;
    margin: 30px 0 30px 30px;
    box-shadow: -5px 0 #232323;
}

::-moz-selection {
    background: var(--primary-color);
    text-shadow: none;
    color: #ffffff;
}

::selection {
    background: var(--primary-color);
    text-shadow: none;
    color: #ffffff;
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
}

textarea{
    overflow: hidden;
}

@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.color-title {
    color: var(--primary-color);
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pt-320 {
    padding-top: 320px !important;
}

.pb-170 {
    padding-bottom: 170px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-112 {
    padding-bottom: 112px !important;
}

.pr-60{
    padding-right: 60px;
}

.mt-minus-90 {
    margin-top: -90px;
}

.mb-minus-90 {
    margin-bottom: -90px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mt-100 {
    margin-top: 100px;
}

.sec-spacer-190{
    padding: 190px 0;
}

.scroll-mt-80{
    scroll-margin-top: 80px;
}

.scroll-mt-120{
    scroll-margin-top: 120px;
}

/* -----------------------------------
    02. Global Design
-------------------------------------*/

form label{
    display: inline-block;
}

fieldset{
    position: relative;
}

fieldset img{
    position: absolute;
    top: 22%;
    left: 16px;
}

input,
textarea{
    width: 100%;
    height: 56px;
    font: var(--font-weight-medium) 14px/24px var(--body-font);
    color: var(--white-color);
    background-color: #0B0D0F;
    border: 1px solid #0B0D0F;
    border-radius: 8px;
    padding: 0 16px 0 45px;
    margin-bottom: 16px;
}

input::placeholder{
    font: var(--font-weight-medium) 14px/24px var(--body-font);
    color: var(--white-color);
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: -100px;
  right: 0;
  font-size: 20px !important;
  color: var(--white-color) !important;
  width: 56px;
  height: 56px;
  background-color: var(--primary-color) !important;
  border: 1px solid transparent !important;
  border-radius: 50%;
  outline: none;
  transition: var(--transition);
}

.owl-carousel .owl-nav .disabled {
    color: #000 !important;
    background-color: transparent !important;
    border-color: #000 !important;
}

.owl-carousel .owl-nav .owl-prev{
    right: 70px;
}

.sec-spacer {
    padding: 125px 0;
}

.sec-spacer-top {
    padding-top: 125px;
}

.sec-spacer-top-85 {
    padding-top: 85px;
}

.sec-spacer-top-95 {
    padding-top: 95px;
}

.sec-spacer-bottom-75 {
    padding-bottom: 75px;
}

.sec-spacer-bottom-80 {
    padding-bottom: 80px;
}

.sec-spacer-bottom {
    padding-bottom: 125px;
}

.sec-spacer-bottom-100 {
    padding-bottom: 100px;
}

.sec-spacer-bottom-120 {
    padding-bottom: 120px;
}

.sec-spacer-bottom-130 {
    padding-bottom: 130px;
}

.sec-heading-3{
    position: relative;
}

.sec-heading-3::after{
    position: absolute;
    content: ".";
    bottom: -5%;
    left: 50%;
    font-size: 40px;
    color: #E85442;
}

.sec-heading-3 .sec-title{
    position: relative;
    display: inline-block;
    font-size: 80px;
    font-weight: var(--font-weight-bold);
    font-family: "Tangerine", cursive;
    color: #E85442;
    line-height: 80px;
}

.sec-heading-3 .sec-title::before,
.sec-heading-3 .sec-title::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: -12px;
    width: 45%;
    height: 1px;
    background-color: #E85442;
}

.sec-heading-3 .sec-title::after{
    left: auto;
    right: -12px;
}

.sec-heading-4 .sec-sub-title{
    font-family: var(--title-font);
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: 0.1em;
    text-transform: capitalize;
    background: linear-gradient(90deg, #36D1DC -37.78%, #5B86E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 22.88px;
}

.overflow-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.overflow-des {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.position-relative{
    z-index: 1;
}

/* -----------------------------------
    03. Header and Toolbar
-------------------------------------*/

.syn-header-wpr {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 32px 0;
    z-index: 100;
    transition: padding .2s ease-in;
}

.syn-header-wpr.sticky{
    position: fixed;
    background-color: #000;
    border-bottom: 1px solid #ffffff66;
    padding: 24px 0;
}

.syn-main-nav{
    display: flex;
    justify-content: flex-end;
    gap: 37px;
}

.syn-main-nav .nav-item a{
    display: block;
    font: var(--font-weight-normal) 15px/18px var(--grotesk-font);
    color: #252525;
    text-transform: uppercase;
}

.syn-header-wpr.sticky .nav-item a {
    color: var(--white-color);
}

.logo-wht {
    display: none;
}

.syn-header-wpr.sticky .logo-wht {
    display: inline-block;
}

.syn-header-wpr.sticky .logo-drk {
    display: none;
}

/* -----------------------------------
    Banner
-------------------------------------*/

.syn-banner {
    padding: 120px 0 150px;
}

.banner-content .banner-title{
    font: var(--font-weight-bold) 97.07px/106.77px var(--grotesk-font);
    color: var(--primary-color);
}

span.svg-container {
    display: inline-block;
    position: relative;
    z-index: 1;
}

span.svg-container svg {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
}

.banner-title .svg-container svg {
    top: 68px;
    bottom: auto;
}

/* -----------------------------------
    About
-------------------------------------*/

.syn-about{
    background-color: rgba(0, 0, 0, 1);
}

.syn-about .sec-title{
    position: relative;
    font: var(--font-weight-normal) 33px/33px var(--grotesk-font);
    color: var(--white-color);
    padding: 55px 0 48px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.syn-about .about-cards {
    padding: 150px 0;
}

.syn-about .single-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    align-items: center;
    padding: 100px 0;
}

.syn-about .single-card::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 40px;
    width: 80%;
    height: 1px;
    background-color: #ffffff4d;
}

.syn-about .single-card:first-of-type {
    padding-top: 0;
}

.syn-about .single-card:last-of-type {
    padding-bottom: 0;
}

.syn-about .single-card:last-of-type::after {
    content: none;
}

.syn-about .single-card .v-flw {
    position: absolute;
    right: 10%;
    bottom: 50px;
}

.syn-about .single-card h3 {
    max-width: 305px;
    font: var(--font-weight-medium) 56px/66px var(--satoshi-font);
    color: var(--white-color);
    letter-spacing: -2.8px;
    text-transform: uppercase;
    word-wrap: break-word;
}

span.dot-txt {
    position: relative;
}

span.dot-txt::after {
    position: absolute;
    content: "";
    bottom: 8px;
    right: -28px;
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.syn-about .single-card p {
    font: var(--font-weight-normal) 22px/33.2px var(--sans-font);
    color: var(--white-color);
    text-transform: uppercase;
}

/* -----------------------------------
    Values
-------------------------------------*/

.syn-values {
    padding: 80px 0;
}

.syn-values .sec-title {
    max-width: 900px;
    font: var(--font-weight-semi-bold) 58px/70px var(--testgro-font);
    color: var(--primary-color);
    text-transform: lowercase;
    margin: 0 auto;
}

.syn-values .sec-heading .image {
    position: relative;
    display: inline-block;
    top: -50px;
    z-index: 1;
}

.syn-values .sec-heading .image::before,
.syn-values .sec-heading .image::after {
    position: absolute;
    content: "";
    width: 195px;
    height: 195px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    z-index: -1;
}

.syn-values .sec-heading .image::before {
    top: -6%;
    left: -6%;
    background-color: transparent;
}

.syn-values .sec-heading .image::after {
    bottom: -6%;
    right: -6%;
    background-color: var(--primary-color);
}

.syn-values .value-cards {
    display: flex;
    gap: 24px;
    padding: 60px 0;
}

.value-cards .single-card {
    position: relative;
    background-color: transparent;
    padding: 80px 40px 100px;
    transition: background-color .5s ease-in-out;
}

.value-cards .single-card.active, 
.value-cards .single-card:hover {
    background-color: var(--primary-color);
}

.value-cards .single-card:not(:last-of-type)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 80%;
    top: 10%;
    right: -12px;
    background-color: #BAC4F0;
}

.value-cards .single-card h3 {
    max-width: 80%;
    font: var(--font-weight-medium) 34px/44px var(--satoshi-font);
    letter-spacing: -1.7px;
    text-transform: uppercase;
}

.value-cards .single-card.active h3, 
.value-cards .single-card.active p, 
.value-cards .single-card:hover h3,
.value-cards .single-card:hover p {
    color: var(--white-color);
}

.value-cards .single-card p {
    font: var(--font-weight-normal) 16px/27px var(--sans-font);
    margin: 14px 0;
}

.single-card .more-btn {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    line-height: 55px;
    text-align: center;
    transition: bottom .5s ease-in-out;
}

.single-card .more-btn i {
    font-size: 18px;
    font-weight: var(--font-weight-semi-bold);
    transform: rotate(-45deg);
    transition: transform .3s ease;
}

.single-card .more-btn:hover {
    background-color: var(--primary-color);
}

.single-card .more-btn:hover i {
    color: var(--white-color);
    transform: rotate(0);
}

.value-cards .single-card.active .more-btn , 
.value-cards .single-card:hover .more-btn {
    bottom: calc(100% - 90px);
    background-color: var(--white-color);
}

.value-cards .single-card.active .more-btn i, 
.value-cards .single-card:hover .more-btn i {
    color: var(--primary-color);
}

.syn-values .line img {
    position: absolute;
    top: 100px;
    right: 0;
    animation-name: float-bob-y;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* -----------------------------------
   Team
-------------------------------------*/

.syn-team .sec-title {
    font: var(--font-weight-semi-bold) 60px/69px var(--testgro-font);
}

.syn-team .sec-title img {
    filter: grayscale(100);
}

.team-cards {
    padding: 50px 0 100px;
}

.team-cards .single-card {
    height: 100%;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 4px 32px 6px rgba(41, 44, 112, 0.03);
    padding: 20px;
}

.team-cards .card-content h3 {
    font: var(--font-weight-medium) 24px/50px var(--poppins-font);
    color: var(--title-color);
    text-transform: uppercase;
}

.team-cards .card-content .desig {
    font: var(--font-weight-normal) 16px/24px var(--poppins-font);
    color: var(--title-color);
    opacity: .7;
    padding: 0;
}

.card-content .desig .dot-txt::after {
    bottom: 6px;
    right: -10px;
    width: 8px;
    height: 8px;
}

.team-cards .card-content p {
    font: var(--font-weight-normal) 16px/24px var(--poppins-font);
    padding: 32px 32px 32px 0;
}

/* -----------------------------------
   Members
-------------------------------------*/

.syn-members {
    background-color: #000;
    padding: 100px 0 50px;
}

.syn-members .sec-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #232A47;
    padding-bottom: 100px;
    margin-bottom: 80px;
}

.syn-members .sec-heading .more-btn {
    display: inline-block;
    width: 144px;
    height: 144px;
    border: 1px solid #1D1D18;
    border-radius: 50%;
    text-align: center;
    line-height: 144px;
    transition: all .3s ease;
}

.syn-members .sec-heading .more-btn img {
    transition: all .3s ease;
}

.syn-members .more-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.syn-members .more-btn:hover img {
    transform: rotate(-45deg);
}

.syn-members .sec-title {
    max-width: 500px;
    font: var(--font-weight-semi-bold) 70px/80px var(--testgro-font);
    color: var(--white-color);
    letter-spacing: -3.5px;
    text-transform: uppercase;
}

.syn-members .sec-title .svg-container svg {
    bottom: -16px;
}

.member-cards{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 300px;
    z-index: 1;
}

.member-cards::after{
    position: absolute;
    content: "";
    top: 150px;
    left: 50%;
    width: 1px;
    height: calc(100% - 300px);
    background-color: #232A47;
    z-index: -1;
}

.member-cards .single-card{
    position: relative;
    height: max-content;
    border-bottom: 1px solid #232A47;
    padding-bottom: 50px;
}

.member-cards .single-card:last-of-type {
    border: 0;
    padding-bottom: 0;
}

.member-cards .single-card h3 {
    font: var(--font-weight-medium) 24px/36px var(--poppins-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
}

.member-cards .single-card p {
    font: var(--font-weight-medium) 22px/33px var(--sans-font);
    color: var(--white-color);
    margin: 24px 0;
}

.member-cards .single-card .more-btn {
    position: static;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    text-align: center;
    border-color: #1D1D18;
}

.member-cards .more-btn img {
    vertical-align: baseline;
    transition: all .3s ease;
}

.member-cards .more-btn:hover img {
    transform: rotate(55deg);
}

.member-cards .single-card:nth-child(even) {
    margin-top: 100px;
}

.member-cards .single-card:nth-child(2) {
    margin-top: 350px;
}

.member-cards .single-card:nth-child(3) {
    margin-top: -220px;
}

.member-cards .single-card .timeline {
    position: absolute;
    content: "";
    top: 230px;
    right: -158px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #232A47;
    transition: background-color .3s ease-in-out;
}

.member-cards .single-card .timeline.active {
    background-color: var(--primary-color);
}

.member-cards .single-card:nth-child(even) .timeline {
    right: auto;
    left: -158px;
}

.member-cards .single-card:first-of-type .timeline {
    top: 150px;
}

.member-cards .single-card:last-of-type .timeline {
    top: auto;
    bottom: 150px;
}


/* -----------------------------------
   Videos
-------------------------------------*/

.syn-videos {
    padding: 100px 0;
}

.syn-videos .single-video {
    margin-bottom: 60px;
}

.syn-videos .single-video h2 {
    max-width: 70%;
    font: var(--font-weight-semi-bold) 60px/69px var(--testgro-font);
    color: var(--title-color);
    padding: 32px 16px 0;
}

.syn-videos .single-video iframe {
    height: 550px;
    background-color: #D9D9D9;
    border: 0;
}

/* ScrollToTop */

#toTop {
    text-align: center;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    display: inline-block;
    position: fixed;
    font-size: 20px;
    font-weight: var(--font-weight-semi-bold);
    color: var(--white-color);
    background: var(--primary-color);
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    transition: var(--transition);
    transform: translateX(-50%);
    z-index: 10;
}


/* -----------------------------------
   Cursor
-------------------------------------*/

#cursor,
#aura {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 100px;
    pointer-events: none;
    user-select: none;
    z-index: 1000;
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, .5);
    transform: translate(-50%,-50%);
}

#aura {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .2);
    transform: translate(5px, 5px);
}

#cursor.hidden,
#aura.hidden {
    transform: scale(.001);
}

#cursor.active {
    background-color: rgba(555, 555, 555, .5);
}

#aura.active {
    background-color: transparent;
    border-color: rgba(555, 555, 555, .5);
}

/* -----------------------------------
   Animation
-------------------------------------*/

.v-flw {
    animation: spin 10s linear infinite;
}

.v-flw-gray {
    animation: bgainm 2s ease-in-out alternate infinite; 
}

.banner-title svg path {
    fill-opacity: 0;
    stroke-opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    animation-name: StrokeIn, DrawStroke, FillIn;
    animation-duration: 1s, 3s, 1s;
    animation-delay: 1s, 1s, 2s !important;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.anim-text svg.active path {
    fill-opacity: 0;
    stroke-opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    animation-name: StrokeIn, DrawStroke, FillIn;
    animation-duration: .1s, 1.5s, .1s !important;
    animation-delay: 0s, 0s, 1s  !important;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}


@keyframes spin {

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes bgainm {
    
    100% {
        filter: grayscale(0)
    }
}
 
@keyframes StrokeIn {

    0% {
        stroke-opacity: 0;
    }
    100% {
        stroke-opacity: 1;
    }

}


@keyframes DrawStroke {

    100% {
        stroke-dashoffset: 0;
    }
    
}

@keyframes FillIn {

    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}

@keyframes float-bob-y {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

