@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@100..600&family=Space+Grotesk:wght@300..700&display=swap');
@import url('../public/assets/fonts/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    -webkit-tap-highlight-color: transparent;
    @apply box-border overflow-x-hidden bg-black text-white
  }
  
  img {
    @apply inline-block max-h-full
  }

  input{
    @apply w-full h-[72px] text-[21px] font-poppins font-normal border border-transparent rounded-[6px] px-6 focus:outline-0 focus:border-border bg-[#444444]
  }

  input::placeholder{
    @apply text-[21px] font-poppins font-normal text-[#A0AEC0]
  }

  
}

@layer components {

  .input-grp label {
    @apply relative inline-block text-[21px] font-semibold font-poppins mb-2
  }

  .pri-auth .input-grp .icon {
    @apply absolute top-[60%] right-4
  }

}

.nav-menu a {
  @apply text-base font-normal font-text text-white
}


.banner-title,
.sec-title {
  @apply font-title text-[162px]/[144px] font-bold uppercase text-white text-center mb-36 mx-auto tracking-[-4px]
}

/* Features */

.features .card-content h2 {
  @apply max-w-md text-[40px]/[50px] font-bold font-title text-white mt-4
}

.features .card-content p {
  @apply text-[20px]/[30px] font-normal font-text text-slate pr-7 mt-6
}

.features .card .pill {
  @apply text-[22px]/[28px] font-poppins font-normal border rounded-[28px] border-border py-2 px-6
}

/* Partners */

.partner-content{
  @apply relative flex gap-[64px] overflow-hidden border-y border-[#a5a9b633] py-12
}

.partners{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  animation: marquree 20s linear infinite;
}

.partners .bnd {
  @apply border-r border-[#A5A9B6] px-24
}

.partner-content img {
  @apply w-full
}

/* Auth Form */

.pri-auth label {
  @apply text-base font-text font-medium
}

.pri-auth input {
  @apply h-auto p-2 ps-4 text-base font-text font-normal bg-[#1F1F1F]
}

.pri-auth input::placeholder {
  @apply text-sm font-text font-normal text-white
}

.pri-auth input[type="password"]::placeholder {
  @apply text-2xl align-top
}

.pri-auth button {
  @apply p-2 border border-primary rounded-[10px] mt-2
}

/* Footer */

.footer-widget h5 {
  @apply font-poppins text-xl font-medium text-white tracking-tighter mb-3
}

.footer-menu a{
  @apply inline-block font-text text-sm font-normal text-slate mt-4  text-center tracking-tight
}

/* Toggle Switch */

.switch-checkbox {
  @apply w-0 h-0 invisible
}

.switch-label {
  @apply cursor-pointer w-[60px] h-[30px] bg-[#2737c9] rounded-[75px] relative
}

.switch-label .switch-button {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* .switch-label:active .switch-button {
  width: 60px;
} */

@keyframes marquree{
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

