@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@100..600&family=Space+Grotesk:wght@300..700&display=swap');
@import url('../public/assets/fonts/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    -webkit-tap-highlight-color: transparent;
    @apply box-border overflow-x-hidden bg-black text-white
  }
  
  img {
    @apply inline-block max-h-full
  }
  
}

.nav-menu a {
  @apply text-base font-normal font-text text-white
}


.banner-title,
.sec-title {
  @apply font-title text-[162px]/[144px] font-bold uppercase text-white text-center mb-36 mx-auto tracking-[-4px]
}

/* Features */

.features .card-content h2 {
  @apply max-w-md text-[40px]/[50px] font-bold font-title text-white mt-4
}

.features .card-content p {
  @apply text-[20px]/[30px] font-normal font-text text-slate pr-7 mt-6
}

.features .card .pill {
  @apply text-[22px]/[28px] font-poppins font-normal border rounded-[28px] border-border py-2 px-6
}

/* Partners */

.partner-content{
  @apply relative flex gap-[64px] overflow-hidden border-y border-[#a5a9b633] py-12
}

.partners{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  animation: marquree 20s linear infinite;
}

.partners .bnd {
  @apply border-r border-[#A5A9B6] px-24
}

.partner-content img {
  @apply w-full
}

/* Footer */

.footer-widget h5 {
  @apply font-poppins text-xl font-medium text-white tracking-tighter mb-3
}

.footer-menu a{
  @apply inline-block font-text text-sm font-normal text-slate mt-4  text-center tracking-tight
}

@keyframes marquree{
  0% {
      transform: translate(0,0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}